
.main-carousel-image{
    width: 92%;
    margin: auto;
    border-radius: 1.4em;
}

.underline-highlited{
    position: relative;
}

.underline-highlited::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 4px;
    background-color: #119C49;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}


.our-services-section{
    padding: 0em 1.5em;
}


.service-text-column > p{
    text-align: center;
    font-size: 1.2em;
}

@media (min-width: 992px) {
    .service-text-column > p{
        text-align: left;
    }

    .services-list > div:nth-child(even) > .service-text-column > p{
        text-align: right;
    }
}


.service-card{
    padding: 1em 0em;
    margin: 1em 0 3em 0;
    border: 1px solid rgb(40, 123, 13);
    border-radius: 0.5em;
    box-shadow: 0 0 10px -4px rgb(55, 150, 0);
    transition-duration: 250ms;
}
.service-card:hover{
    box-shadow: 0 0 20px -2px rgb(55, 150, 0);
}

.service-icon-column{
    display: flex;
    flex-direction: column;
    gap: 0.35em;
    justify-content: center;
    align-items: center;
}

.service-icon-column > span{
    font-size: 6em;
}

.service-text-column{
    display: flex;
    align-items: center;
}


@media (min-width: 768px) {
    .our-services-section{
        padding: 1em 3em;
    }

    .service-text-column > p{
        font-size: 1.275em;
    }
    .service-icon-column > span{
        font-size: 8em;
    }
    
}

@media (min-width: 992px) {
    .our-services-section{
        padding: 1em 5em;
    }
    .service-text-column > p{
        font-size: calc(1.275rem + .3vw)
    }
    .service-icon-column > span{
        font-size: 9.5em;
    }
    
}


.service-card{
    scale: 0;
    opacity: 0.5;
    animation: lazy-loading-service-card linear forwards;
    animation-timeline: view(calc(100vh) 10px);
}

@media (min-width: 768px) {
    .service-card{
        animation-timeline: view(calc(90vh) 10px);
    }
}
@media (min-width: 992px) {
    .service-card{
        animation-timeline: view(calc(80vh) 10px);
    }
}

@keyframes lazy-loading-service-card{
    to{
        scale: 1;
        opacity: 1;
    }
}


.table {
    --bs-table-hover-bg: rgb(56 180 6 / 56%);
}
th , td{
    font-size: 0.65em;
}

@media(min-width:466px){
    th , td{
        font-size: 0.8em;
    }
}
@media(min-width:577px){
    th , td{
        font-size: 0.92em;
    }
}
@media(min-width:768px){
    th , td{
        font-size: 1.07em;
    }
}
@media(min-width:992px){
    th , td{
        font-size: 1.3em;
    }
}

.packages-table{
    border: 1px solid gray;
    border-radius: 0.7em;
    margin-top: 2em;
    padding: 1em 1em;
    box-shadow: 0 0 15px -7px rgb(10, 124, 12);
}